.alert-circle-info {
    top: 15vh;
    left: 5vw;
    border-radius: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 75vh;
    overflow: auto;
    background-color: #ffffff9d;
    box-shadow:0 12px 50px #333;
    color: rgb(0, 0, 0);
    z-index: 900;
    padding: 1rem;
    h3{
        align-items: center;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    p{
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }

}

@media only screen and (max-width: 1190px) {
    .alert-circle-info{
        width: 30vw;
        height: 45vh;
        left: 65vw;
        top: 15vh;
        h3{
            font-size: 1.1rem;
    }
    h4{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
}
}