.alert-circle-info {
    top: 15vh;
    left: 3vw;
    border-radius: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    overflow: auto;
    background-color: #ffffff9d;
    box-shadow:0 12px 50px #333;
    color: rgb(0, 0, 0);
    z-index: 900;
    padding: 1rem;
    h3{
        align-items: center;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    p{
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }

}

@media only screen and (max-width: 1190px) {
    .alert-circle-info{
        width: 94vw;
        height: 30vh;
        left: 3vw;
        top: 62vh;
        
        
    }
}