.fullscreen-map {
    margin-top: 13vh;
    height: 84vh;
    width: 100vw;
  }

  @media only screen and (max-width: 1200px) {
    .fullscreen-map {
      margin-top: 7vh;
      height: 93vh;
      width: 100vw;
    }
  }