@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 13vh;
    padding: 0 20px;
    background-color: #333333;
    box-shadow:0 12px 50px #333;
    color: white;
    z-index: 1000; // Pasek nawigacyjny jest na wierzchu
    h1{
      font-size: 3.3rem;
      cursor: default;
      font-family: 'Cinzel', serif;
      span{
        color: red;
      }
    }
    button{
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 1rem 2rem;
      border: none;
      transition: 1s ease-in-out;
      &:hover{
        background: red;
        color: white;
        border-radius: 2rem 1rem;
        transition: 0.3s ease-in-out;
      }
    }
    
  }
  
  
  