.RaportContainer{
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1{
      font-size: 1.5rem;
      text-decoration: underline;
      margin-bottom: 0.5rem;
  }
  h2{
      font-size: 1.3rem;
  }
  h3{
      font-size: 0.9rem;
      padding: 0.5rem;
  }
  p{
      font-size: 0.7rem;
  }

}
.chartsContainer{
  display: flex;
  flex-direction: row;
  img{
    height: 200px;
    width: 200ox;
  }
}
.chartsContainerItem{
  border-right: 1px solid black;
}
table {
  width: 65vh;
  border-collapse: collapse;
  background-color: #f3f3f3;
}

.tablesSection{
  display: flex;
  flex-direction: row;
  .cloudDatas{
    margin: 1rem;
    p{
      font-size: 1rem;
    }
  }
}



table, th, td {
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}

td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}