.settings {
    position: fixed;
    z-index: 999; // Menu jest pod paskiem nawigacji
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateY(100%); // Początkowo schowane poza ekranem
    transition: transform 1s ease-in-out; 
    display: flex;
    justify-content: center;
    .settings-container{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 90vw;
        height: 90vh;
        input {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            background: none;
            font-size: 1rem;
          }
        
          select{
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            background: none;
            font-size: 1rem;
        }
          h2{
            font-size: 1.9rem;
            text-decoration: underline;           
        }
          h3{
            margin: 1rem 0;
            font-size: 1.5rem;         
        }
        h4{
          margin: 1rem 0;
          font-size: 1.2rem;         
      }
        
        .settings-container-element{
          width: 60%;
          height: auto;
          border-radius: 50px;
          margin: 0rem;
          padding: 3rem 6rem;
          background: #3333333d;
          box-shadow: 1rem 0rem 1rem #333;
          label{
            display: flex;
            margin: 10px;
            width: 100%;
            p{
              width: 100%;
            }
            input{
              width: 100%;
              height: 1rem;
             
             }
          }
          button{
            cursor: pointer;
          }
          .danger {
            background-color: red;
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            border: none;
            margin-top: 4rem;
            padding: 1rem;
            width: 100%;
            border-radius: 2rem;
          }    
          .generate{
            @extend .danger;
            background: white;
            color: red;
            margin-top: 2rem;
          }  
        }      
    }
    }
    .settings.active {
        transform: translateY(0);
        transition: transform 1s ease;
    }  
  
  
  @media only screen and (max-width: 1190px) {
      .settings{
        padding-top: 3rem;
        height: 90vh;
        overflow: scroll;
        .settings-container {
          flex-direction: column;
          justify-content: space-between;
          
          .settings-container-element{
            width: 100%;
            height: auto;
            .danger {
              font-size: 1rem;
              width: 90%;
              margin-bottom: 1rem;
              padding: 0.5rem;
            }
          }
          
        }
      }
      
    }

  